/* 

Tooplate 2114 Pixie

https://www.tooplate.com/view/2114-pixie

*/
:root{
    --main:#ff9d00;
    --l-main:#EDDBBF;
	--blu:#3a8bcd;
	--bl:black;
	--gr:
    /* --grey:grey; */
}

body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 24px;
}
a {
	text-decoration: none!important;
}

.copyright-text {
	text-transform: uppercase;
}

.main-button a {
	/* background-color: var(--main); */
	border: 1px solid var(--gr);
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: var(--gr);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	/* opacity: 0.7; */
}
.main-button a:hover {
	background: var(--main);
	
	color: white;
}
.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}
.section-heading .line-dec {
	width: 30px;
	height: 5px;
	background-color: #3a8bcd;
}
.section-heading h1 {
	font-size: 22px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
}




/* Pre Header Style */

.header-top{
	background: #EDDBBF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: fixed; */
	width: 100%;
	gap: 5%;
	padding: 5px 10px;
}
.s-box p{
	font-weight: bold;
}
.e-box{
	display: flex;
	align-items: center;
	/* gap: 2%; */
}
.e-box p{
	padding-right: 5px;
	font-size: 15px;
	border-right: 1px solid #ffffff8c ;
	font-weight: bold;
	/* color: black; */
}
.s-box p:hover{
	color: var(--blu);
	/* text-shadow: 1px 1px 3px black; */
}
.e-box p:hover{
	color: var(--blu);
	/* text-shadow: 1px 1px 3px black; */
}
.e-box i{
	padding-left: 2px;
	/* color: black; */
}

.e-box i:hover{
	color: var(--blu);
	/* text-shadow: 1px 1px 3px black; */
}

#pre-header {
	background-color: #3a8bcd;
	text-align: center;
}
#pre-header span {
	color: #fff;
	font-size: 15px;
	padding: 10px 0px;
	display: inline-block;
}

/* Header Style */

header{
    width: 100%;
    position: sticky;
	top: 0;
	z-index: 99;
	/* overflow: hidden; */
	
    
}
nav{
    background: White;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
	
    align-items: center;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.logo{
     /* padding: 0px 5px;   */
	  display: flex;
	 align-items: center;
	 gap: 5px;
	 justify-content: center; 
	 position: relative;
	  /* text-align: end; */
}

.logo h6 {
	font-size: 20px;
	color: var(--main);
	font-weight: bold;
	display: flex;
	flex: bottom;
	/* bottom: 0; */
}
.logo a img{
    width:70px;
	border-radius: 50%;
	box-shadow: 1px 1px 2px var(--main);
	margin-right: 5px;
	
}
.nav-links a{
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 5px;
	font-weight: bold;
    transition: .5s;
	color: var(--gr);
	/* text-shadow: 1px 1px 2px var(--main); */
}
.nav-links a:hover{
    color: var(--main);
	text-shadow: none;
    /* border: 1px solid var(--blu); */
}

.icons a {
    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.main-icons{
    display: none; 
    gap: 10px;
    
}
.icons a i{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 50px;
    color: var(--main);
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--l-main);
    transition: .5s;
}
.icons a i:hover{
    background: var(--blu);
    color: white;
}

.M-Burger{
    display: none;
    padding: 5px 10px 4px;
    border: 2px solid var(--main);
    border-radius: 5px;
    color: var(--main);
}

.nav-list{
    display: none;
    background: white;
}















.navbar .navbar-brand {
	text-align: center;
	width: 100%;
	position: relative;
	padding: 25px 0px;
}
.bg-dark {
	background-color: #fff!important;
	border-bottom: 1px solid #eee;
}
#navbarResponsive {
	z-index: 999;
	position: absolute;
	left: 50%;
	top: 105px;
	transform: translateX(-50%);
}
.navbar-dark .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar-dark .navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: #1e1e1e;
	transition: all 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
	color: #3a8bcd;
}
.navbar:after {
	width: 100%;
	height: 1px;
	background-color: #eee;
	content: '';
	position: absolute;
	left: 0;
	bottom: -52px;
}
.navbar-dark .navbar-toggler-icon {
	background-image: none;
}
.navbar-dark .navbar-toggler {
	border-color: #3a8bcd;
	background-color: #3a8bcd;	
	height: 50px;
	outline: none;
}
.navbar-dark .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #FFF;
	font-size: 22px;
	line-height: 30px;
	font-family: 'FontAwesome';
}
/* Banner Style */
.banner {
	margin-top: 71px;
	background-image: url(../images/banner-t.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px;
	background-position: center center;
}
.banner .caption {
	background-color: rgba(250,250,250,0.9);
	padding: 30px;
	max-width: 450px;
}
.banner .caption h2 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	color: #1e1e1e;
}
.banner .caption .line-dec {
	width: 30px;
	height: 5px;
	background-color: #3a8bcd;
}
.banner .caption p {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* Featured Style */
.featured-items {
	margin-bottom: 70px;
}
.featured-item {
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 20px;
	transition: all 0.5s;
}
.featured-item:hover {
	opacity: 0.9;
}
.featured-item img {
	width: 100%;
}
.featured-item h4 {
	font-size: 17px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
	transition: all 0.5s;
}
.featured-item:hover h4 {
	color: #3a8bcd;
}
.featured-item h6 {
	color: #3a8bcd;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 0px;
}
.owl-theme .owl-dots {
	text-align: center;
	margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot {
	outline: none;
}
.owl-theme .owl-dots .active span {
	background-color: #3a8bcd!important;
}
.owl-theme .owl-dots .owl-dot span {
	background-color: #aaa;
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0px 5px;
	outline: none;
}



/* Subscribe Style */
.subscribe-form {
	background-color: var(--l-main);
	padding: 80px 0px;
	text-align: center;
}
.subscribe-form .section-heading  {
	margin-top: 0px;
}
.subscribe-form .section-heading h1 {
	color: var(--main);
	font-weight: bold;
}
.subscribe-form .section-heading .line-dec {
	background-color: var(--blu);
	margin: 0 auto;
}
.subscribe-form .main-content p {
	font-size: 17px;
	color: var(--main);
	margin-bottom: 30px;
	/* font-weight: bold; */
}
.subscribe-form .main-content form  {
	color: var(--main);
	display: inline;
}
.subscribe-form .main-content form input {
	display: inline;
}
.subscribe-form .main-content form input {
	width: 100%;
	height: 46px;
	border: 1px solid var(--main);
	background-color: transparent;
	padding-left: 15px;
	color: var(--main);

	outline: none;
}
.subscribe-form .main-content form button:focus {
	color: var(--main)!important;
	/* font-weight: bold; */
}
.subscribe-form .main-content form button:hover {
	color: #fff!important;
	background: var(--main);
	/* font-weight: bold; */
}
.subscribe-form .main-content form button {
	width: 100%;
	height: 45px;
	cursor: pointer;
	background-color: #fff;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #ff9d00;
	/* color: #3a8bcd; */
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: none;
	font-weight: bold;
}


/* Footer Style */
footer {
    width: 100%;
    background: #3a3c44;
}

.main-con {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px 10px;
    flex-wrap: wrap;
    /* align-items: center; */
}

.main-boxe {
    width: 350px;
    color: white;
    padding: 10px 5px;
}

.main-boxe h2 {
    font-size: 25px;
}

.main-boxe p {
    font-size: 13px;
    font-weight: 300;
	color: white;
}
.icon-box i{
	color: whites;
}
.icon-box i:hover{
	color:var(--main) ;
}

.main-boxe .info-c {
    padding: 5px;
    display: flex;
    gap: 10px;
}

.main-end {
    background: var(--main);
    padding:  10px 10px 4px;
    width: 100%;
    text-align: center;
    color: White;
}

.main-end h6 {
    font-size: 13px;
    font-weight: 400;
}

.main-end h6 a {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background: var(--blu);
    padding: 2px 4px 1px;
    border-radius: 20px;
    margin-left: 5px;
}
.main-end h6 a:hover{
  color: white;
  background: green;
}
.con-slinks{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
	gap: 10px;
	padding: 20px 0;
}
.con-slinks a {
	color: white;
	font-size: 20px;
}
.con-slinks a:first-child i{
	color: red;
	font-size: 25px;
	padding-right: 10px;
	width: 40px;
	/* animation: anime 3s  linear infinite; */
}
.con-slinks a i{
	font-size: 25px;
	padding-right: 10px;
	width: 40px;
	animation: anime 3s  linear infinite;
	/* animation: anime 3s  linear infinite; */
}
.con-slinks a:first-child i{
	color: red;
	
	/* animation: anime 3s  linear infinite; */
}
.con-slinks a:nth-child(2) i{
	color: rgb(244, 35, 70);
}
.con-slinks a:nth-child(3) i{
	color: #1877F2;
	/* background: white; */
}


.con-slinks a:hover i{
	/* color: var(--main); */
	animation: anime 3s  ease-in-out;
	rotate: 0deg;
	
}
.con-slinks:hover i{
	color: var(--main);
	
	rotate: 180deg;
	
}
@keyframes anime {
	0%{
		rotate: 0deg;
	}
	10%{
		rotate: -90deg;
	}
     
	20%{
		rotate: -20deg;
	}
	30%{
		rotate: -90deg;
	}
	40%{
		rotate: -40deg;
	}
	50%{
		rotate: -90deg;
	}
	60%{
		rotate: -60deg;
	}
	70%{
		rotate: -90deg;
	}
	80%{
		rotate: -80deg;
	}
	90%{
		rotate: -90deg;
	}
     100%{
		rotate: -360deg;
	 }
}



/* Featured Page Style */
.featured-page {
	margin-top: 130px;
	margin-bottom: 40px;
}
.featured-page .section-heading {
	margin-top: 0px;
	margin-bottom: 0px;
}
.featured-page #filters {
	margin-top: 15px;
	text-align: right;
}
.featured .featured-item {
	margin-bottom: 30px;
	text-decoration: none;
}
.featured .featured-item h4 {
	transition: all 0.5s;
}
.featured .featured-item:hover h4 {
	color: #3a8bcd;
}
#filter button {
	outline: none;
}
#filter .btn-primary.focus,
.btn-primary:focus {
	color: #3a8bcd!important;
	box-shadow: none!important;
}
#filters .btn-primary {
	color: #1e1e1e;
	border: none;
	font-size: 15px;
	font-weight: 700;
	background-color: transparent;
}
/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

.page-navigation ul {
	text-align: center;
	border-top: 1px solid #eee;
	padding: 30px  0px 0px 0px;
	margin: 0px 0px 80px 0px;
}
.page-navigation ul li {
	display: inline-block;
}
.page-navigation ul li a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 38px;
	border: 1px solid #eee;
	border-radius: 5px;
	font-weight: 700;
	color: #1e1e1e;
	font-size: 15px;
	text-decoration: none;
	transition: all 0.5s;
}
.page-navigation ul li a:hover,
.page-navigation ul li.current-page a {
	background-color: #3a8bcd;
	border-color: #3a8bcd;
	color: #fff;
}



/* Single Product Style */
.single-product .product-slider {
	padding: 20px;
	border: 1px solid #eee!important;
	border-radius: 5px;
}
.flexslider {
	border: none!important;
}
#carousel {
	margin-top: 20px;
}
#carousel .slides li {
	width: 150px!important;
}
.single-product .right-content h4 {
	font-size: 17px;
	font-weight: 700;
	margin-top: 0px;
}
.single-product .right-content h6 {
	color: #3a8bcd;
	font-size: 17px;
	font-weight: 700;
	margin-top: 10px;
}
.single-product .right-content p {
	margin-top: 20px;
	margin-bottom: 30px;
}
.single-product .right-content span {
	font-size: 14px;
	color: #3a8bcd;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 15px;
}
.single-product .right-content label {
	font-size: 14px;
	color: #4a4a4a;
}
.single-product .right-content .quantity-text {
	margin-left: 10px;
	width: 44px;
	height: 44px;
	line-height: 42px;
	font-size: 14px;
	font-weight: 700;
	color: #4a4a4a;
	display: inline-block;
	text-align: center;
	outline: none;
	border: 1px solid #eee;
}
.single-product .right-content .button {
	margin-left: 15px;
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: var(--gr);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: 1px solid var(--gr);
}
.single-product .right-content .button:hover {
	color: white;
	background: var(--main);
	border: 1px solid var(--gr);
}
.single-product .right-content .down-content span {
	margin-bottom: 0px;
	display: inline-block;
	margin-left: 8px;
	color: #aaa;
}
.single-product .right-content .down-content span a {
	color: #aaa;
	font-weight: 400;
	margin-left: 4px;
	transition: all 0.5s;
}
.single-product .right-content .down-content span a:hover {
	color: #3a8bcd;
}
.single-product .right-content .down-content span a:hover i {
	background-color: #3a8bcd;
}
.single-product .right-content .down-content span a i {
	transition: all 0.5s;
	background-color: var(--main);
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}
.single-product .right-content .down-content .categories {
	border-top: 1px solid #eee;
	margin-top: 30px;
	padding: 10px 0px;
}
.single-product .right-content .down-content .share {
	border-top: 1px solid #eee;
	padding: 10px 0px;
}
.single-product .right-content .down-content h6 {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 400;
}



/* About Us Style */
.about-page {
	margin-top: 50px;
    margin-bottom: 80px;
}
.about-page .right-content h4 {
	font-size: 17px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
}
.about-page .left-image img {
	max-width: 100%;
}
.about-page .right-content span {
	display: inline-block;
	margin-left: 8px;
}
.about-page .right-content span a i {
	transition: all 0.5s;
	background-color: #aaa;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}
.about-page .right-content .share {
	margin-top: 20px;
	border-top: 1px solid #eee;
	padding: 15px 0px;
}
.about-page .right-content h6 {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 400;
}
.about-page .right-content span a:hover i {
	background-color: #3a8bcd;
}




/* Contact Page Style */
.contact-page {
	margin-top: 50px;
    margin-bottom: 80px;
}
.contact-page .right-content input,
.contact-page .right-content textarea {
	border-radius: 0px;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	margin-bottom: 30px;
}
.contact-page .right-content input {
	height: 44px;
	line-height: 44px;
}
.contact-page .right-content textarea {
	height: 200px;
	max-height: 280px;
}
.contact-page .right-content span {
	display: inline-block;
	margin-left: 8px;
}
.contact-page .right-content span a i {
	transition: all 0.5s;
	background-color: var(--main);
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}
.contact-page .right-content .share {
	margin-top: 30px;
	border-top: 1px solid #eee;
	padding: 15px 0px;
}
.contact-page .right-content h6 {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 400;
}
.contact-page .right-content span a:hover i {
	background-color: #3a8bcd;
}
.contact-page .right-content .button {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: var(--gr);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: 1px solid grey;
}
.contact-page .right-content .button:hover {
	color: white;
	background: var(--main);
	border: none;
}

/* Responsive Style */

@media (max-width:1000px) {
    .main-icons{
        display: none;
    }
	.banner {
		margin-top: 67px;
	}
}

@media (max-width: 991px) {

	
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 96px;
	    width: 100%;
	    text-align: center;
	    background-color: rgba(250,250,250,0.95);
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar-dark .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar-dark .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar-dark .navbar-nav .nav-link {
		padding: 15px 0px;
	}
	.featured-page #filters {
		text-align: right;
	} 
	.single-product .right-content {
		margin-top: 30px;
	}
	.about-page .right-content {
		margin-top: 30px;
	}
	.contact-page .right-content {
		margin-top: 30px;
	}
	.contact-page .right-content .col-md-6,
	.contact-page .right-content .col-md-12 {
		padding: 0px;
	}
	.featured-page {
		margin-top: 80px;
	}
	.about-page,
	.contact-page {
		margin-top: 0px;
	}

}




@media (max-width:900px) {
    .nav-links{
        display: none;
    }
    .M-Burger{
        display: block;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        width: 300px;
        border-radius: 50px;
		height: 0;
        position: absolute;
        right: 5%;
        padding: 0;
        transition: .5s ease;
        z-index: 2;
		overflow: hidden;
    }
    .nav-list a{
        font-size: 15px;
		font-weight: bold;
		color: var(--gr);
    }
    .nav-list a:hover{
        color: var(--main);
    /* border: 1px solid var(--dgr); */
    }
}

@media (max-width: 767px) {

	.subscribe-form .main-content form input.button {
		margin-top: 20px;
	}
	.featured-page #filters {
		margin-top: 15px;
		text-align: left;
	} 

}



@media (max-width:700px) {
    /* .nav-list a{
        font-size: 13px;
    } */
    /* .nav-list{
        width: 250px;
    } */
}

@media (max-width:450px) {

    nav{
        width: 100%;
    }
    .M-Burger{
        padding: 3px 7px 2px;
    }
    /* .nav-list{
        width: 200px;
    } */
    /* .nav-list a{
        font-size: 10px;
    } */

	.e-box p{
		display: none;
	}
    
}









